*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
.top{
    width: 100%;
    background-color: #333333;
    height: 50px;
}
.top .title{
    color: white;
    width: 960px;
    margin: 0 auto;
}
.top_left{
    float: left;
}
.top_right{
    float: right;
}
a{
    color: white;
}
.top_right>li{
    display: inline;
    margin: 5px;
    line-height: 50px;
}
.banner{
    height: 300px;
    background-color: green;
}
.slider_show{
    width: 960px;
    height: 300px;
    margin: 0 auto;
    /*background-color: #fff;*/
    position: relative;

}
.dots{
    position: absolute;
    bottom: 0;
    right: 0;
}
.dots>li{
    margin-bottom: 10px;
    border: 1px solid #000;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #66914d;
    text-align: center;
}
.dots>li:nth-child(2){
    padding-top: 25px;
    background-color: #e0f1d6;
}
/*中间部分*/
.cards{
    border-bottom: 1px solid #848484;
    height: 50px;
    margin-top: 10px;
}
.cards .item{
    width: 960px;;
    margin: 0 auto;
    height: 50px;
    position: relative;
}
.cards .item ul{
    position: absolute;
    bottom:0;
}
.cards .item ul li{
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: none;
    background-color: #e7e7e7;
}
.cards .item ul li:nth-child(1){
    background-color: #fff;
}
/*内容*/
.article{
    width: 960px;
    margin: 10px auto;
}
.article .item1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}
.article .item1>p{
    border: 1px solid #000;
    flex: 1;
    padding: 80px;
    text-align: center;
    margin: 5px;
}
/*底部*/
.footer{
    /*position: fixed;*/
    /*bottom: 0;*/
    width: 100%;
    background-color: #666666;
    height: 75px;
}
.footer>p{
    width: 960px;
    margin: 10px auto;
    text-align: center;
    color: white;
}