*,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    height: 100%;
    /*width: 100%;*/
}
/*priamry最左*/
.primary{
    height: 100%;
    width: 100px;
    padding-top: 20px;
    background: rgba(29,37,49,1);
    box-sizing: border-box;
    float: left;
}
.primary_Btn1{
    margin-bottom: 20px;
    margin-left: 20px;
 }
.primary_Setting{
    position: absolute;
    bottom: 26px;
    left: 26px;
}
.primary_Setting div{
    display: inline-block;
    margin-right: 16px;
}
/*secondary*/
.secondary{
    width: 250px;
    height: 100%;
    background: rgba(34,44,60,1);
    float: left;
    padding: 34px 31px 23px 29px;
    box-sizing: border-box;
}
.secondary .part{
    font-size:14px;
    font-family:ProximaNova-Semibold;
    font-weight:600;
    color:rgba(183,192,205,1);
    line-height:36px;
}
.part .part1,.part2{
    border-bottom: 1px rgba(42,53,71,1) solid;
}
.secondary .part .part_Title{
    font-size:12px;
    font-family:ProximaNova-Semibold;
    font-weight:600;
    color:rgba(91,103,121,1);
    line-height:40px;
}
.part span{
    float: right;
}
.part2 span{
    float: left;
    margin-right: 10px;
}
.part li:nth-of-type(1) span{
    float: right;
}
.serverCapacity {
    font-size:14px;
    font-family:ProximaNova-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    position: absolute;
    bottom: 23px;
}
.serverCapacity .Monthly_Goals{
    margin-bottom: 13px;
}
.serverCapacity .progress_Bar{
    width:190px;
    height:4px;
    background:rgba(71,83,100,1);
    opacity:0.3;
    border-radius:2px;
}
.progress_Bar .finish{
    width:40px;
    height:4px;
    background:linear-gradient(90deg,rgba(127,91,230,1) 1%,rgba(157,143,227,1) 100%);
    border-radius:2px;
}